# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
# Assignment 1

tpl = tuple(x for x in range(10))
print(tpl)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
# Assignment Question 2

print("First Element",tpl[0])
print("Middle Element",tpl[len(tpl) // 2])
print("Last Element",tpl[-1])

First Element 0
Middle Element 5
Last Element 9

In [5]:
# Assignment Question 3

print("First 3 Element",tpl[:3])
print("Element from 2 to 5 index ",tpl[2:6])
print("Last 3 Element",tpl[-3:])

First 3 Element (0, 1, 2)
Element from 2 to 5 index  (2, 3, 4, 5)
Last 3 Element (7, 8, 9)

In [12]:
# Assignment Quesion 4

nested_tpl = (
    (1,2,0),
    (4,2,0),
    (8,3,0),
)

print(nested_tpl[1][2])

0

In [13]:
# Assignment Quesion 5

tpl1 = (1,2,3)
tpl2 = (4,5,6)

print(tpl1 + tpl2)

(1, 2, 3, 4, 5, 6)

In [24]:
tpl = tuple(range(10))
print(f"Occurrences of 4: {tpl.count(0)}")
print(f"Index of first occurrence of 2: {tpl.index(9)}")

Occurrences of 4: 1
Index of first occurrence of 2: 9

In [15]:
# Assignment Quesion 7

tpl = tuple(x for x in range(5))
a,b,c,d,e = tpl

print(a)
print(b)
print(c)
print(d)
print(e)

0
1
2
3
4

In [17]:
# Assignment Quesion 8

lst = [x for x in range(5)]
tpl = tuple(lst)
print(tpl)

(0, 1, 2, 3, 4)

In [19]:
# Assignment Quesion 9

tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [20]:
# Assignment Quesion 10

tpl = tuple(range(5))
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(0, 1, 2, 3, 4, 6)

In [22]:
# Assignment Quesion 11

string = "Pulkit"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

Porwal

In [26]:
# Assignment Question 12 

tpl_dict = {
    (0,1): 2,
    (5,6): 0,
    (4,3): 7,
    (6,6): 2,
}

print(tpl_dict)

{(0, 1): 2, (5, 6): 0, (4, 3): 7, (6, 6): 2}

In [28]:
# Assignment Question 13

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for item in tpl:
        print(item)

1
2
3
4
5
6
7
8
9

In [27]:
# AssignmentQuestion 14

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
st = set(tpl)
print(st)

{1, 2, 3, 4, 5}

In [30]:
# Assignement Question 15

def min_tuple(tpl):
    return min(tpl)

def max_tuple(tpl):
    return max(tpl)

def sum_tuple(tpl):
    return sum(tpl)

sample_tpl = tuple(range(10))
print(f"Min: {min_tuple(sample_tpl)}")
print(f"Max: {max_tuple(sample_tpl)}")
print(f"Sum: {sum_tuple(sample_tpl)}")

Min: 0
Max: 9
Sum: 45